@page "/ideas/active";

<div class="d-flex flex-column h-100">
    <h2>Active Date</h2>
    @if (_isFirstLoad && _idea is null)
    {
        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        @if (_isActiveIdeaAvailable)
        {
            <div class="d-flex flex-grow-1 justify-content-center mt-5">
                <div>
                    <IdeaComponent Idea="_idea" OnDeleteCallback="GetActiveIdea"/>
                </div>
            </div>
            <div class="mb-5">
                <div class="row mb-2">
                    <div class="col">
                        <button class="btn btn-success w-100" @onclick=OnClickCompleteIdeaButton>Complete</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger w-100" @onclick=OnClickAbandonButton>Abandon</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row flex-grow-1 justify-content-center">
                <div class="col-auto align-self-center">
                    <h1>No active date</h1>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <div class="row mb-2">
                        <div class="col">
                            <button class="btn btn-primary w-100" @onclick=OnClickGetRandomIdeaButton>Find a new one?</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-secondary w-100" @onclick=OnClickCreateNewIdeaButton>Create a date</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
