@page "/change-password"

<div class="row">
    <div class="column">
        <h2>Change Password</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <EditForm Model="_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="newPassword" class="form-label">New password</label>
                <InputText id="newPassword" class="form-control" type="password" @bind-Value="_model.NewPassword" />
            </div>
            <div class="mb-3">
                <label for="newPasswordConfirmation" class="form-label">Re-enter new password</label>
                <InputText id="newPasswordConfirmation" class="form-control" type="password" @bind-Value="_model.NewPasswordConfirmation" />
            </div>
            <button type="submit" class="btn btn-success w-100 mt-1">
                @if (_isBusy)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Updating...</span>
                }
                else
                {
                    <span>Change password</span>
                }
            </button>
        </EditForm>
    </div>
</div>
