@page "/create-account"

<h3>Create Account</h3>

<EditForm class="mt-4" Model="_createAccountModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText class="form-control w-100 mb-2" placeholder="Name" @bind-Value=_createAccountModel.Name></InputText>
    <InputText class="form-control w-100 mb-2" placeholder="Email" @bind-Value=_createAccountModel.Email></InputText>
    <InputText class="form-control w-100 mb-3" placeholder="Password" @bind-Value=_createAccountModel.Password></InputText>
    <button class="btn btn-primary w-100" type="submit">Create</button>
</EditForm>

<div class="mt-4 d-flex justify-content-center">
    <p>Already have an account? <a href="/login">Login</a>.</p>
</div>