@layout SimpleLayout

@page "/"
@page "/login"

<h3>Login</h3>

@if(_errorMessage != string.Empty)
{
    <p style="color: red">@_errorMessage</p>
}

<EditForm class="mt-4" Model="_loginModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-floating mb-3">
        <InputText id="email" type="email" class="form-control w-100" placeholder="Email" @bind-Value="_loginModel.Email"></InputText>
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <InputText id="password" type="password" class="form-control w-100" placeholder="Password" @bind-Value="_loginModel.Password"></InputText>
        <label for="password">Password</label>
    </div>
    <button class="btn btn-primary w-100" type="submit">
        @if (_isSending)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        }
        else
        {
            <span>Login</span>
        }
    </button>
</EditForm>

<div class="mt-4 d-flex justify-content-center">
    <p>Don't have an account? <a href="/create-account">Create one</a>.</p>
</div>