@page "/suggested"

<h2>Suggested</h2>

<div class="row">
    <div class="col">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col" class="w-auto">Rank</th>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _suggested)
                {
                    <tr>
                        <th scope="row" class="text-nowrap text-center">@item.Rank</th>
                        <td class="w-100">@item.Idea.Title</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-2">
    <div class="col d-flex justify-content-start">
        <button class="btn btn-secondary w-100" disabled="@(_isPreviousButtonDisabled)" @onclick=OnPreviousButtonClickAsync>Previous</button>
    </div>
    <div class="col d-flex justify-content-end">
        <button class="btn btn-secondary w-100" disabled="@(_isNextButtonDisabled)" @onclick=OnNextButtonClickedAsync>Next</button>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <button class="btn btn-primary w-100" @onclick=OnStealButtonClickAsync>Steal</button>
    </div>
</div>