<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="card-title">
            <div class="d-flex align-content-center">
                <h5 class="flex-fill mb-0 align-self-center">@Idea.Title</h5>
                <div class="dropdown">
                    <button class="btn btn-light " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fa-solid fa-ellipsis-v" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <button class="btn dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#@_editModalId">
                                <span class="flex-fill">Edit</span>
                                <span class="fa-solid fa-edit" />
                            </button>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <button class="btn dropdown-item d-flex align-items-center text-danger" @onclick="Delete">
                                <span class="flex-fill">Delete</span>
                                <span class="fa-solid fa-trash" />
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h6 class="card-subtitle mb-2 text-muted fst-italic">@_subtitleText</h6>
        <p class="card-text">@Idea.Description</p>
    </div>
</div>

<EditIdeaModal Id="@_editModalId" Idea=@Idea OnEditFinishedCallback="RefreshIdea"/>